<h2>Create a new drone</h2>

<form action="/drones/create" method="POST">
    <label for="name">Drone name</label>
    <input id="name" name="name" type="text"></input>

  
  <label for="nombre">Number of Propellers</label>
    <input id="propellers" name="propellers" type="Number"></input>


    <label for="maxSpeed">Max Speed</label>
    <input id="maxSpeed" name="maxSpeed" type="Number"></input>

    <button type="submit">Crear Drone</button>
</form>