<h2>Update the drone</h2>

<form action="/drones/{{id}}/edit" method="POST">
    <label for="name">Drone name:</label>
    <input id="name" name="name" type="text" value="{{name}}"></input>

    <label for="url">Number of Propellers:</label>
    <input id="propellers" name="propellers" type="Number" value="{{propellers}}"></input>

    <label for="url">Max speed:</label>
    <input id="maxSpeed" name="maxSpeed" type="Number" value="{{maxSpeed}}"></input>

    <button type="submit">Update Drone</button>
</form>